.product {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.large {
  grid-column: span 2;
}
#conty {
  padding: 3vw;
  z-index: 500;
  background: white;
  border: 1px solid lightgrey;
}

.product__ratingStar {
  margin: 0.2vw;
  font-size: 1vw;
}

.product__image {
  padding-bottom: 1vw;
  width: 100%;
  max-height: 30vw;
}

.product__price {
  margin-top: 5px;
}

.product__info {
  height: 70px;
  width: 100%;
}

.product__button {
  background-color: #f0c14b !important;
  border: 1px solid;
  width: 100%;
  border-radius: 2px;
  border-color: #a88734 #9c7e31 #846a29 !important;
}
.product__button:hover {
  cursor: pointer;
  transition: 0.7s;
  color: white;
}
.product__imageWrapper {
  flex: 1;
  display: flex;
  align-items: center;
  grid-row: span 3;
}
